/* =============== VARIABLES =============== */
:root {
	--text-color-main: #000000;
	--text-color-second: #ffffff;
	--text-color-modifier: #9f0013;
	--font-size-main: 14px;
	--font-size-medium: 22px;
	--font-size-large: 24px;
	--line-height-main: 1.2;
	--font-weight-bold: 700;
	--accent-color-main: #232222;
	--accent-color-second: #9f0013;
	--container-max-width: 1130px;
	--container-padding: 15px;
}
